.product_category{
    display: flex;
    flex-direction: column;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.product_category {
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Ensure the overflowing content is hidden */
}

.product_banner_container {
    position: relative;
    width: 100%;
    height: auto;
}

.product_banner {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 1.5s ease-in-out; /* Smooth horizontal transition */
}

.next_banner_button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.next_banner_button img {
    width: 20px;
    height: 20px;
    filter: invert(1); /* Make the arrow icon white */
}

.next_banner_button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.productCategory_sort_index{
    display: flex;
    justify-content: space-around;
    margin: 20px 14px;
   
}



.selectSort{
    padding: 5px;
   border-radius: 10px;
}

.productCategory_sort_index p span{
    font-weight: 700;
     
}

.shopProduct_category{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.product_loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 130px auto;
    width: 223px;
    height: 68px;
    border-radius: 79px;
    background: #ededed;
    color: #788787;
    font-size: 18px;
    font-weight: 500px;
    cursor: pointer;
}

/*  Break points*/

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

 
}

@media screen and (max-width: 576px) {


}


@media screen and (max-width: 350px) {

}