.popular{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.popular_items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}